body {
    font-family: Open Sans,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
    color: #525f7f;
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    font-family: inherit;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: .5rem;
    color: #32325d
}

.cursor-pointer {
	cursor: pointer;
}

.h1,h1 {
    font-size: 1.625rem
}

.h2,h2 {
    font-size: 1.25rem
}

.h3,h3 {
    font-size: 1.0625rem
}

.h4,h4 {
    font-size: .9375rem
}

.h5,h5 {
    font-size: .8125rem
}

.h6,h6 {
    font-size: .625rem
}

.table-flush td,.table-flush th {
    border-right: 0;
    border-left: 0
}

.table td .progress {
    width: 120px;
    height: 3px;
    margin: 0
}

.table td,.table th {
    font-size: .8125rem;
    white-space: nowrap;
}

.table thead th {
    vertical-align: bottom;
    font-size: .65rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 1px solid #e9ecef
}

.table th {
    font-weight: 600
}

.table td,.table th {
    font-size: .8125rem;
    white-space: nowrap
}

.table.align-items-center td,.table.align-items-center th {
    vertical-align: middle
}

.table .thead-dark th {
    color: #4d7bca;
    background-color: #1c345d
}

.table .thead-light th {
    color: #8898aa;
    background-color: #f6f9fc
}

.table-hover tr {
    transition: all .15s ease
}

@media screen and (prefers-reduced-motion:reduce) {
    .table-hover tr {
        transition: none
    }
}

.table-flush td,.table-flush th {
    border-right: 0;
    border-left: 0
}

.table-flush tbody tr:first-child td,.table-flush tbody tr:first-child th {
    border-top: 0
}

.table-flush tbody tr:last-child td,.table-flush tbody tr:last-child th {
    border-bottom: 0
}

.table-flush tbody tr:first-child td,.table-flush tbody tr:first-child th {
    border-top: 0
}

.table-flush tbody tr:last-child td,.table-flush tbody tr:last-child th {
    border-bottom: 0
}

p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.7
}


@media only screen and (min-width: 0px) and (max-width: 700px) {
    td, th{
        display:inline-block;
        padding:5px;
        width:100%;
    }

    .refresh-image{
        width: 15%;
    }

    .last-record{
        border-bottom: 2px solid gray;
    }
    .mobile-text-right {
        text-align: left !important;
    }
}

@media (min-width: 576px) {
    .card-group {
        flex-flow:row wrap
    }

    .card-group>.card {
        margin-bottom: 0;
        flex: 1 0
    }

    .card-group>.card+.card {
        margin-left: 0;
        border-left: 0
    }

    .card-group>.card:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0
    }

    .card-group>.card:first-child .card-header,.card-group>.card:first-child .card-img-top {
        border-top-right-radius: 0
    }

    .card-group>.card:first-child .card-footer,.card-group>.card:first-child .card-img-bottom {
        border-bottom-right-radius: 0
    }

    .card-group>.card:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0
    }

    .card-group>.card:last-child .card-header,.card-group>.card:last-child .card-img-top {
        border-top-left-radius: 0
    }

    .card-group>.card:last-child .card-footer,.card-group>.card:last-child .card-img-bottom {
        border-bottom-left-radius: 0
    }

    .card-group>.card:only-child {
        border-radius: .375rem
    }

    .card-group>.card:only-child .card-header,.card-group>.card:only-child .card-img-top {
        border-top-left-radius: .375rem;
        border-top-right-radius: .375rem
    }

    .card-group>.card:only-child .card-footer,.card-group>.card:only-child .card-img-bottom {
        border-bottom-right-radius: .375rem;
        border-bottom-left-radius: .375rem
    }
}

.align-items-center {
    align-items: center!important
}

@media (max-width: 575.98px) {
    .table-responsive-sm {
        display:block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar
    }

    .table-responsive-sm>.table-bordered {
        border: 0
    }
}

@media (max-width: 767.98px) {
    .table-responsive-md {
        display:block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar
    }

    .table-responsive-md>.table-bordered {
        border: 0
    }
}

@media (max-width: 991.98px) {
    .table-responsive-lg {
        display:block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar
    }

    .table-responsive-lg>.table-bordered {
        border: 0
    }
}

@media (max-width: 1199.98px) {
    .table-responsive-xl {
        display:block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar
    }

    .table-responsive-xl>.table-bordered {
        border: 0
    }
}

.form-control {
    line-height: 1.5;
    display: block;
    width: 100%;
    height: calc(2.75rem + 2px);
    padding: .625rem .75rem;
    transition: all .2s cubic-bezier(.68,-.55,.265,1.55);
    color: #8898aa;
    border: 1px solid #cad1d7;
    border-radius: .375rem;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: none
}