<div class="container">
	<form [formGroup]="searchForm">
		<div class="form-group">
			<div class="row">
				<div class="col-md-10 mt-2">
					<textarea id="title" class="form-control shadow"
						[ngClass]="searchForm.get('title')?.invalid && searchForm.get('title')?.touched? 'is-invalid' : ''" rows="1"
						placeholder="Enter text for Text to Speech..." formControlName="title" required></textarea>
					<div class="text-danger" *ngIf="searchForm.get('title')?.dirty || searchForm.get('title')?.touched">
						<span *ngFor="let error of searchForm.get('title')?.errors | keyvalue">
							{{validationMessages.title[error.key]}}
						</span>
					</div>
				</div>
				<div class="col-md-2 text-center" *ngIf="isUserOnline">
					<div class="btn-group mt-2" *ngIf="!formSubmitted; else loading">
						<button class="btn btn-primary" btnCheckbox tabindex="1" (click)="onSubmit(searchForm)" role="button"><i
								class="fa fa-window-close-o" aria-hidden="true"></i>PLAY</button>
						<button class="btn btn-secondary" btnCheckbox tabindex="0" (click)="onClear()" role="button">CLEAR</button>
					</div>
					<ng-template #loading>
						<div class="mt-2 spinner-border text-primary">
							<span class="sr-only">Loading...</span>
						</div>
					</ng-template>
				</div>
			</div>
		</div>
	</form>
</div>